<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Действия пользователей</title>
    <link rel="stylesheet" th:href="@{/css/user-actions.css}">
</head>
<body>
<a id="admin-panel" data-th-href="@{/admin}"><-- К админ-панели</a>
<h1>Действия пользователей</h1>
<div id="inputs">
    <form id="find" method="get" data-th-action="@{/admin/user-actions}">
        <label for="find">Дата: <input type="date" name="date" required><br><br>
            Время: <input type="time" name="from"> - <input type="time" name="to"><br>
        </label>
        <div style="display: inline-block;">
            <button class="sumbit-btn" id="submit" type="submit">Найти</button>
            <button class="sumbit-btn" id="reset" type="submit" formnovalidate data-th-href="@{/admin/user-actions}">Сброс</button>
        </div>
    </form>
    <form method="get" target="_blank" data-th-action="@{/admin/user-actions/download}">
        <input type="hidden" name="date" th:value="${userActionDateDto.date != null ? userActionDateDto.date : ''}">
        <input type="hidden" name="from" th:value="${userActionDateDto.from != null ? userActionDateDto.from : ''}">
        <input type="hidden" name="to" th:value="${userActionDateDto.to != null ? userActionDateDto.to : ''}">
        <label class="format">
            Формат файла:
            <select required th:name="format">
                <option data-th-value="JSON">JSON</option>
                <option data-th-value="XLSX">XLSX</option>
                <option data-th-value="CSV">CSV</option>
                <option data-th-value="XML">XML</option>
            </select>
        </label>
        <button class="sumbit-btn" type="submit">Скачать</button>
    </form>
</div>
<table>
    <thead>
    <tr>
        <th>Дата</th>
        <th>Действие</th>
        <th>IP пользователя</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="action : ${userActions}">
        <td data-th-text="${action.getDateTime()}"></td>
        <td data-th-text="${action.getAction()}"></td>
        <td data-th-text="${action.getUserIp()}"></td>
    </tr>
    </tbody>
</table>
<div class="row">
    <div th:if="${totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers    }">
        <a th:href="@{/admin/user-actions(page=${pageNumber}, date=${userActionDateDto.date != null ? userActionDateDto.date : ''}, from=${userActionDateDto.from != null ? userActionDateDto.from : ''}, to=${userActionDateDto.to != null ? userActionDateDto.to : ''})}"
           th:text=${pageNumber}
           th:class="${pageNumber==pageNumber + 1} ? active"></a>
    </div>
</div>
</body>
</html>
