<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Видеотека</title>
    <link rel="stylesheet" th:href="@{/css/videos.css}">
</head>
<body>
<h1>Видеотека</h1>
<form method="get" data-th-action="@{/user/videos/filter}">
        <label>Поиск по теме: <select class="select-tag" required id="tagId" name="tagId" data-th-value="${videoDto?.tagId}" >
            <option th:each="tag : ${tagsToSearch}" data-th-text="${tag.title}" data-th-value="${tag.id}"></option>
        </select>
            <button class="find" type="submit">Поиск</button>
        </label>
</form>
<form method="get" data-th-action="@{/user/videos/filter}">
    <div class="tags" data-th-each="tag : ${top10Tags}">
        <button class="find" name="tagId" data-th-text="${tag.title}" data-th-value="${tag.id}"></button>
    </div>
</form>
<form method="get" data-th-action="@{/videos}">
</form>
<table>
    <tbody>
    <tr data-th-each="video : ${videos}">
        <td>
            <div>
                <a target="_blank" class="video" data-th-href="@{/user/videos/{videoId}(videoId=${video.getId()})}">
                    <img class="thumbnail" alt th:src="${video.getThumbnail()}">
                </a>
                <a class="video" data-th-href="@{/user/videos/{videoId}(videoId=${video.getId()})}"
                   data-th-text="${video.getTitle()}"></a>
                <p data-th-text="${video.getTagTitle()}"></p>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div class="row">
    <div th:if="${totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/user/videos(page=${pageNumber}, pattern=${pattern})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==pageNumber + 1} ? active"></a>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/user_actions_logger.js}"></script>
</body>
</html>