/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

/* Стили ссылки для возврата к списку видео */
a.to-videos-list {
    display: inline-block;
    margin: 20px;
    font-size: 18px;
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
}

a.to-videos-list:hover {
    color: #005bb5;
}

div span {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #ff0000;
    margin-top: 20px;
}

.found {
    text-align: center;
    font-size: 20px;
}

.not-found {
    text-align: center;
}


table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
}


tbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

tbody tr {
    width: 28%;
    height: 325px;
    margin-bottom: 20px;
    text-align: center;
}

tbody tr td {
    padding: 10px;
    vertical-align: top;
}

tbody tr img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

tbody tr img:hover {
    transform: scale(1.05);
}

tbody tr td a {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

tbody tr td a:hover {
    color: #0073e6;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 12px;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #0073e6;
    color: white;
}

.pagination a.active {
    background-color: #0073e6;
    color: white;
}

